<div class="home-video">

    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="/img/p2.mp4" type="video/mp4">
        <source src="/img/p2.webm" type="video/webm" />
    </video>
   <div class="home-video__text">
       <img src="/img/logo.png" alt="">
                <h1 class="mb-5 text-uppercase">Узбекский ресторан</h1>
<button onclick="window.location.href='/menu.html'" class="btn btn-lg btn-primary">Посмотреть меню</button>
   </div>

    <div id="down" class="home-video__arrow"><img src="img/da4.svg" alt="Сеть Узбекских ресторанов"></div>

</div>