<nav id='navs' class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container px-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about-us.html">
                    О нас</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="menu.html">
                    Меню</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="gall.html">
                    Галерея</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="contact.html">Контакты</a>
            </li>


        </ul>
     </div>
        <button type="button" onclick="window.location.href='https://api.whatsapp.com/send?phone=77779199991'" class="btn btn-outline-light"><span class="icon icon--wp"></span>Написать в whatsapp</button>
        </div>


</nav>

